<a href="https://colab.research.google.com/github/vanshikamandala/python-new/blob/module-1/module1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Accept input from user and store it in variable and print the value

In [ ]:
a = int(input("enter number"))
print(a)

enter number45
45

# Use of print statements and use of (.format )for printing different data types.

In [ ]:
a= "an name is {name}, and i  in {subject},class".format(name = "aravind", subject = "python")
print(a)

an name is aravind, and i  in python,class

# Take 2 numbers as user input and add, multiply, divide, subtract, remainder and print
the output (Same operations on floating point input as well)

In [ ]:
a = int(input("enter the first number"))
b = int(input("enter the second number"))
add= a+b
sub=a-b
mul=a*b
div=a/b
rem=a%b
print("addition= ", add)
print("subtract= ", sub)
print("multiply= ", mul)
print("division= ", div)
print("reminder= ", rem)

enter the first number45
enter the second number54
addition=  99
subtract=  -9
multiply=  2430
division=  0.8333333333333334
reminder=  45

# Conversion of one unit to another (such as hours to minutes, miles to km and etc)

In [ ]:
a = float(input("enter hours"))
print("hours to minutes= ",a*60)
b = float(input("enter minutes"))
print("minutes to sec= ",a*60)
c = float(input("enter miles= "))
print("miles to km= ",b*1.5)

enter hours67
hours to minutes=  4020.0
enter minutes76
minutes to sec=  4020.0
enter miles= 78
miles to km=  114.0

# Usage of mathematical functions in python like math.ceil, floor, fabs, fmod, trunc, pow, sqrt etc.

In [ ]:
import math
a = float(input("enter a number"))
b = float(input("enter second number"))
print(math.ceil(a))
print(math.floor(a))
print(math.fabs(a))
print(math.fmod(a,b))
print(math.trunc(a))
print(math.pow(2,2))
print(math.sqrt(44))

enter a number67
enter second number78
67
67
67.0
67.0
67
4.0
6.6332495807108

# Building a mathematical calculator that can perform operations according to user input.Use decision making statement

In [ ]:
a =int(input("enter first number "))
b = int(input("enter second number"))
c =str(input("enter operation to be performed "))
if(c=="add"):
  print(a+b)
elif(c=="sub"):
  print(a-b)
elif(c=="mul"):
  print(a*b)
elif(c=="div"):
  print(a/b)
elif(c=="rem"):
  print(a%b)
else:
  print("enter valid operation")

enter first number 5
enter second number6
enter operation to be performed add
11

# Accepting 5 different subject marks from user and displaying the grade of the student

In [ ]:
a=int(input("enter the 1st sub marks"))
b=int(input("enter the 2nd sub marks"))
c=int(input("enter the 3rd sub marks"))
d=int(input("enter the 4th sub marks"))
e=int(input("enter the 5th sub marks"))
if(a>b and a>c and a>d and a>e):
  print("a is highest ")
elif(b>a and b>c and b>d and b>e ):
  print("b is highest")
elif(c>a and c>b and c>d and c>e):
  print("c is highest ")
elif(d>a and d>b and d>c and d>e):
  print("d is highest")
else:
      print("e is greater")
sum=a+b+c+d+e
avg=(a+b+c+d+e)/5
print("the sum is",sum)
print("the avg",avg)

enter the 1st sub marks86
enter the 2nd sub marks86
enter the 3rd sub marks96
enter the 4th sub marks86
enter the 5th sub marks85
c is highest
the sum is 439
the avg 87.8

#Printing all even numbers, odd numbers, count of even numbers, count of odd numbers within a given range.

In [ ]:
evencount=0
oddcount=0
a=int(input())
b=int(input())
for even in range(a,b):
  if(even%2==0):
    print(even)
evencount=evencount+1
print('even count')
print(evencount)
print('odd')
for odd in range(a,b):
  if(odd%2!=0):
    print(odd)
    oddcount=oddcount+1
print('odd count')
print(oddcount)

65
54
even count
1
odd
odd count
0

#Compute the factorial of a given number

In [ ]:
n = input("Enter a number: ")
factorial = 1
if int(n) >= 1:
  for i in range (1,int(n)+1):
   factorial = factorial * i
print("fact")

Enter a number: 2
fact

#Compute GCD of two given numbers

In [ ]:
import math
print(math.gcd(3, 6))

3

#Generate Fibonacci series up to N numbers

In [ ]:
num1=0
num2=1
series=0
num=int(input())
for i in range(num):
 print(series,end=' ')
num1=num2
num2=series
series=num1+num2

5
0 0 0 0 0

#Check whether the given input is a) palindrome b) strong c) perfect
#a.palindrome

In [ ]:
 Num = int(input("Enter a value:"))
Temp = num
Rev = 0
while(num > 0):
    dig = num % 10
    revrev = rev * 10 + dig
    numnum = num // 10
if(temp == rev):
    print("This value is a palindrome number!")
else:
    print("This value is not a palindrome number!")

#b.strong number

In [ ]:
Num = int(input("Number: "))
Sum = 0
Temp = Num
while(Temp > 0):
    Factorial = 1
    i = 1
Reminder = Temp % 10
while(i <= Reminder):
    Factorial = Factorial * i 
    i = i + 1
print("\n Factorial of %d = %d" %(Reminder, Factorial))
Sum = Sum + Factorial
Temp = Temp // 10
print("\n Sum of Factorials of a Given Number %d = %d" %(Num, Sum))
if (Sum == Num):
    print(" %d is a Strong Number" %Num)
else:
    print(" %d is not a Strong Number" %Num)
#c.perfect number
N=int(input())
sum=0
for i in range(1,N):
   if(N%1==0):
sum=sum+1
if(N==sum):
print(N,'is a perfect number')
else:
print(N,'is not a perfect number')

#c.perfect number

In [ ]:

N=int(input())
sum=0
for i in range(1,N):
              if(N%1==0):
                sum=sum+1
if(N==sum):
  print(N,'is a perfect number')
else:
  print(N,'is not a perfect number')

#Compute compound interest using loop for a certain principal and interest amount

In [ ]:
principal=float(input('enter principal value'))
interest=float(input('enter interest rate'))
years=int(input())
n = principle * ((1+interest)*years)
for n in range(principal,total):
  print(n)
total=n+total