<a href="https://colab.research.google.com/github/vanshikamandala/python-new/blob/module-2/sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [ ]:
thisset = {"google","firefox","opera"}
thisset.add("microsoft edge")
print(thisset)

{'opera', 'firefox', 'google', 'microsoft edge'}

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'cherry', 'apple', 'mango', 'pineapple', 'banana', 'papaya'}

In [ ]:
thisset = {"f", "g", "h"}
mylist = ["e", "r"]

thisset.update(mylist)

print(thisset)

{'apple', 'orange', 'kiwi', 'cherry', 'banana'}

In [ ]:
thisset = {"f", "g", "h"}

thisset.remove("g")

print(thisset)

{'f', 'h'}

In [ ]:
thisset = {"f", "g", "h"}

thisset.discard("g")

print(thisset)

{'f', 'h'}

In [ ]:
thisset = {"f", "g", "h"}

thisset.pop()
print(len(thisset))
print(thisset)

2
{'h', 'g'}

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x,end=" ")

cherry banana apple

In [ ]:
thisset = {"f", "g", "h"}
mylist = ["e", "r"]

set1 = thisset.union(mylist)
print(set1)

{'e', 'r', 'g', 'h', 'f'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'google', 'microsoft', 'cherry', 'banana'}